.description,
.geolocation {
  display: block;
}

.geolocation {
  font-weight: bold;
  margin-bottom: 7px;
}

.predictionItem {
  margin: 5px 0;
}

.tipItem {
  background: #e7f4f0;
  border: 1px solid transparent;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.15s ease, border-color 0.3s ease;
}

.tipItem:hover {
  background-color: #e7eaf4;
  border-color: rgb(63, 41, 83);
}

ul {
  padding-left: 15px;
}

.userName {
  font-weight: bold;
  display: block;
  text-align: right;
}
