.todoFromContainer {
    margin-bottom: 30px;
}

.todoFromContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.todoFromContainer input {
    width: 45%;
    height: 30px;
    font-size: 1.3rem;
}

.todoFromContainer input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}