h1 {
    font-family: "Great Vibes", cursive;
    font-size: 90px;
    margin-top: 50;
    font-weight: normal;
    color:rgb(63, 41, 83);
}

/* .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    grid-gap: 10px; 
    border: 2px solid black;
} */