.images {
    max-width: 350px;
    border-radius: 30px;
    transition: transform 0.3s; /* Add a smooth transition effect */
    /* margin: 5px auto; */
    /* padding-top: 10px; */
}

.images:hover {
    transform: scale(1.09); /* Enlarge the image by 10% on hover */
}

.video {
    max-width: 350px;
    border-radius: 30px;
    transition: transform 0.3s; /* Add a smooth transition effect */
}

.video:hover {
    transform: scale(1.09); /* Enlarge the image by 10% on hover */
}