.userName {
  position: absolute;
  top: 3px;
  right: 160px;
  margin: 10px;
  font-size: 24px;
  color: rgb(63, 41, 83);
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.userNameItalic {
  font-family: "Great Vibes", cursive;
}

@media (max-width: 768px) {
  .userName {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
    white-space: nowrap;
  }
}
