.App {
  text-align: center;
}

body {
  background-color: #dce8e4;
}

.appContainer {
  display: flex;
}

.recommendations {
  /* width: 25%; */
  /* margin-left: auto; */
  flex: 1;
}

.feed {
  /* flex: 1; */
  width: 75%;
}
